<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="/imgs/dino_bonitinho.png" class="img-fluid img-resize" alt="Dino image">
      </div>

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/login" method="post" class="mb-4">
          <h1>Login</h1>

          {{#if error}}
          <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{msg}}
            </div>
          
          {{/if}}
          <!-- Email input -->
          <fieldset class="form-group">
            <div class="form-outline mb-4">
              <input type="email" id="emailAddr" name="email" class="form-control form-control-lg" required/>
              <label class="form-label" for="emailAddr">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="passwd" name="password" class="form-control form-control-lg" required/>
              <label class="form-label" for="passwd" >Password</label>
            </div>

            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="rememberCheck" checked />
                <label class="form-check-label" for="rememberCheck"> Remember me </label>
              </div>
              <a href="#!">Forgot password?</a>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button id="submitButton" type="submit" class="btn btn-primary btn-lg btn-block w-100">Entrar</button>


          </fieldset>

        </form>

        <div class="d-flex justify-content-center align-items-center mb-4">
          <label>Don't have an account? <a href="/singup"><strong> Sing up</strong></a></label>
        </div>

        <hr class="my-4 mb-4 mt-5">
        <div class="d-flex flex-column justify-content-center align-items-center mb-4 w-100">
            <label class="fs-5" >Or sign in with:</label>
            <div class="mb-4">
                <a class="btn btn-outline-dark btn-lg" href="#"><img src="imgs/google.png" alt="Google"></a>
                <a class="btn btn-outline-dark btn-lg  ml-4" href="#"><img src="imgs/twitter.png" alt="Twitter"></a>
            </div>
        </div>

    

      </div>
    </div>
  </div>

  
</section>

